<ion-header>
 
</ion-header>

<ion-content padding class="background">
<div>
  <ion-tabs>
    
      <ion-tab-bar slot="bottom">

          <!--Chat-->
          <ion-tab-button (click)="toChatPage()" tab="chat">
            <ion-icon name="chatbubbles" custom-icon></ion-icon>
            <ion-badge>6</ion-badge>
          </ion-tab-button>
  
          <!--Events-->
          <ion-tab-button (click)="toEventsPage()" tab="events">
              <ion-icon name="calendar"></ion-icon>
          </ion-tab-button>
  
          <!--Home-->    
          <ion-tab-button class="size" (click)="toHomePage()" tab="home" class="myButton">
                    </ion-tab-button>
  
          <!--Notifications-->
          <ion-tab-button tab="notifications">
              <ion-icon name="mail-unread"></ion-icon>
          </ion-tab-button>
  
          <!--Profile-->    
          <ion-tab-button tittle="profile" tab="profile">
           <ion-icon name="contact"></ion-icon>          
          </ion-tab-button>
  
        </ion-tab-bar>
    
  </ion-tabs>  
</div>

</ion-content>