ion-tab-bar {
    --background: transparent;
    --ion-color-base: transparent !important;
    }

ion-icon {
        font-size: 53px;
        color: white;
        --color-selected: red;
    }



    ion-content.background{
        --background: url('https://res.cloudinary.com/dg7ybkbb8/image/upload/v1557394230/red-black-gradient_xvaxtm.jpg') 0 0/100% 100% no-repeat;
    }

    .myButton{
        background: url('https://res.cloudinary.com/dg7ybkbb8/image/upload/v1557400392/logo_transpartent_-_copia_lszp6o-Circle_zrqqcj_hnmdxf.png') no-repeat;
        text-align: center;
    }