<ion-header color= "dark">
  <ion-toolbar>
    <ion-title>CHAT</ion-title>
    <ion-buttons slot="end" (click)="rating()"><ion-icon name="star-half"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-button [routerlink]="['/menu/userprofile']">Profile</ion-button>
</ion-header>



<ion-content>
  
  <ion-item color="medium">
    <ion-label>Chat with: {{destusername}}</ion-label>    
  </ion-item>

  <ion-item class ="sala">
   <div> 
     <p *ngFor="let chat of sala">{{chat}}</p>
  </div>

  </ion-item>
<ion-grid>
    <ion-row>
      <ion-col size="7"> <ion-input type="text" name="message" placeholder="Enter your message" [(ngModel)] = "message"></ion-input></ion-col>
      <ion-col>
        <ion-button id="enviar" class ="btn" (click)="sendMessage()"> Send </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
 
 
</ion-content>

