ion-grid {
    position: absolute;
    bottom: 10px;
    left: 10px;
 
  
}
.chatwith{
    background-color: darkgray;
}
ion-header{
    background-color: black;
    color: white;
}
ion-button{
    color: white;
}