//LABELS
.label {
    font-size: 24px;
    background-color: transparent;
    color: white;
    margin-bottom: 7px;
}

.item-complex .item-content{
    background-color: transparent !important;
}

ion-item{
    --ion-background-color: transparent;
}

ion-input{
    --ion-background-color: transparent;
    --font-size: 18px;

}

.item.item-input {
    font-size: 17px;
    background-color: transparent;
    margin-bottom: 7px;
}

//BOTÓN LOGIN
.myButton {
	background-color:transparent;
	/* -moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #000000; */
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Trebuchet MS;
	font-size:19px;
	/* padding:7px 10px; */
	text-decoration:none;
}
.myButton:hover {
	background-color:#ffffff;
}
.myButton:active {
	position:relative;
	top:1px;
} 

//DONT YOU HAVE AN ACCOUNT TEXT
.optionText {
    margin-left: 30px;
    color: white;
    font-size: 17px;
}

//Facebook logo
.facebookLogo {
font-size: 32px;
display: inline-block;
}

//Facebook text
.facebookText {
    display: inline-block;
   /*  vertical-align: middle; */
    color: white;
    font-size: 17px;
}

//FACEBOOK BUTTON
.FacebookButton {
    border:2px solid white;
    background-color: rgb(37, 108, 240);
    margin-left: 3px;
    text-align: center;
    padding: 4px 20px;
}

//GLOBAL CARD
.card{
    background-color: transparent;
    margin-top: 80px;
}


//SCREEN BACKGROUND
.bg{
  
    background-size: cover;
        //background-image: linear-gradient(to top, #e62222 0%, #fff8f8 100%);
    }
    #container{
            margin:17% auto;
            text-align:center;
            background-color: transparent;
    }

    ion-content.background{
        --background: url('https://res.cloudinary.com/dg7ybkbb8/image/upload/v1557394230/red-black-gradient_xvaxtm.jpg') 0 0/100% 100% no-repeat;
    }

.letra{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif , serif !important;
    size: 50px;
}


