<ion-content class="background">
  <div id="container">
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <br>
          <div text-center>
              <ion-title color="primary">BEAT2BEAT</ion-title>
          </div>
          <div padding>
            
            <ion-item>
                <ion-label position="stacked">Username</ion-label>
              <ion-input name="username" type="username" minlength="3" maxlength="10" placeholder="" ngModel required></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Password</ion-label>
              <ion-input name="password" type="password" minlength="3" maxlength="10" placeholder="" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="large"  shape="round"  type="submit" [disabled]="form.invalid" expand="block">Login</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <!-- <ion-item >
      <ion-icon name="logo-facebook" shape="round" md="logo-facebook"></ion-icon>
  </ion-item> -->
  <button>
      
      <ion-icon  color="primary" size="large"  shape="round" name="logo-facebook" md="logo-facebook" (click)="submitLogin()"></ion-icon>
      <ion-label position="fixed" >Login amb FaceBook</ion-label>
    </button>

    
  <ion-row>
    <nav>
    <div color="primary" text-center padding>
      If you don't have an account, please <a routerLink='/register'>
    register</a> first!
    </div>
  </nav>
</ion-row>
</div>
</ion-content>
