.title {
    font-size: 25px;
}

.background {
    --background: white;
}

ion-icon {
    font-size: 50px;
    --padding-top: 20px;
}

.dislike {
    color: rgb(3, 3, 19);
}

.like {
    color: rgb(124, 12, 12);
}

.tags {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif , serif !important;
}