<!-- <ion-card class="background">
  <ion-card-header> -->
    <!-- <ion-card-title class="title">{{user.name}} {{user.surname}}, {{age}}</ion-card-title> -->
<!--     <ion-card-title class="title">Reva Dhawan, 20</ion-card-title>
  </ion-card-header> -->

<!-- <ion-content padding>
    
   <ion-list>
     <ion-item *ngFor="let user of userService.user">
        <ion-card>
            <ion-card-header>
              <ion-card-subtitle>{{user.username}}</ion-card-subtitle>
              <ion-card-title>{{user.age}}</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
                {{user.email}}
            </ion-card-content>
          </ion-card>
     </ion-item>
   </ion-list>
   </ion-content>
 -->
   


   <ion-content>
  </ion-content>