<ion-card class="background">
<ion-card-content>    
   <!--  <ion-item *ngFor="let user of userService.user"> -->
      <ion-item>
            <ion-card-title class="title">{{ onecard?.name }}, {{ onecard?.age }}</ion-card-title>
            <!-- <ion-card-subtitle>Username:{{ onecard?.username }}</ion-card-subtitle> -->
            <!--  <img src="{onecard?.picture}}"> -->
   </ion-item>

  <ion-icon class="dislike" name="close" (click)="discardMatch()"></ion-icon>
  <ion-icon class="like" name="heart" (click)="acceptMatch()"></ion-icon>
</ion-card-content>
</ion-card>