.title {
    font-size: 25px;
    text-align: center;
    color: black;
}

.background {
    --background: white;
}

ion-icon {
    font-size: 50px;
    --padding-top: 20px;
}

.dislike {
    color: rgb(3, 3, 19);
    margin-left: 40px;
    margin-right: 30px;
}

.like {
    color: rgb(124, 12, 12);
    margin-left: 40px;
    margin-right: 20px;

}

.tags {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif , serif !important;
}
.col-content {
    background-color:#f4f5f8;
  }
.image-upload > input
{
    display: none;
}
.flex {
    display: flex;
    justify-content: center;
  }
  
  .flex-item + .flex-item {
    margin-left: 10px;
  }
  ion-content.background{
    --background: url('https://res.cloudinary.com/dg7ybkbb8/image/upload/v1557394230/red-black-gradient_xvaxtm.jpg') 0 0/100% 100% no-repeat;
}