.col-content {
    background-color:#f4f5f8;
  }
.image-upload > input
{
    display: none;
}

ion-card.background {
  background-color: white;
}

ion-content.background-image {
  background-color: red;
}
.chip{
  background-color: rgb(21, 156, 235);
}