<ion-header>
  <ion-toolbar>
    <ion-title>Beat2Beat</ion-title>
    <ion-buttons slot="start"> <ion-back-button defaultHref="home"></ion-back-button> </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{user.username}}</ion-card-subtitle>
      <ion-card-title>{{user.name}} {{user.surname}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
        <label class="image-upload-container btn btn-bwm">
            <span>Select Image</span>
            <input #imageInput
                   type="file"
                   accept="image/*"
                   (change)="processFile(imageInput)">
          </label>
          
          
          <div *ngIf="selectedFile" class="img-preview-container">
          
            <div class="img-preview{{selectedFile.status === 'fail' ? '-error' : ''}}"
                 [ngStyle]="{'background-image': 'url('+ selectedFile.src + ')'}">
            </div>
          
            <div *ngIf="selectedFile.pending" class="img-loading-overlay">
              <div class="img-spinning-circle"></div>
            </div>
<!--           
            <div *ngIf="selectedFile.status === 'ok'" class="alert alert-success"> Image Uploaded Succesfuly!</div>
            <div *ngIf="selectedFile.status === 'fail'" class="alert alert-danger"> Image Upload Failed!</div> -->
          </div>
          <img src="{{user.picture}}">
    </ion-card-content>
  </ion-card>
  
</ion-content>
