<ion-header>
  <ion-toolbar>
    <ion-title>Beat2Beat</ion-title>
    <ion-buttons slot="start"> <ion-back-button defaultHref="home"></ion-back-button> </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
        <img src="{{user.picture}}">
      <ion-card-subtitle>{{user.username}}</ion-card-subtitle>
      <ion-card-title>{{user.name}} {{user.surname}}, {{age}}</ion-card-title>
      <ion-icon name="pin"></ion-icon>
      {{user.localization}}
      <!--<ion-list>
      <ion-item *ngFor="let tag of user.tag">
          {{tag}}
        </ion-item>
      </ion-list>-->
      <ion-grid>
          <ion-row>
              <ion-col>
                  Tags:
              </ion-col>
            <ion-col *ngFor="let tag of user.tag">
                <div class="col-content">
                    #{{tag}}
                  </div>
            </ion-col>
          </ion-row>
        </ion-grid>  
    </ion-card-header>
  
    <ion-card-content>
          <div class="image-upload">
              <label for="file-input">
                  <ion-icon name="camera"></ion-icon>
              </label>
          
              <input #imageInput
                   id="file-input"
                   type="file"
                   accept="image/*"
                   (change)="processFile(imageInput)">
          </div>
          
          <!--<div *ngIf="selectedFile" class="img-preview-container">
          
            <div class="img-preview{{selectedFile.status === 'fail' ? '-error' : ''}}"
                 [ngStyle]="{'background-image': 'url('+ selectedFile.src + ')'}">
            </div>
          
            <div *ngIf="selectedFile.pending" class="img-loading-overlay">
              <div class="img-spinning-circle"></div>
            </div>
         
            <div *ngIf="selectedFile.status === 'ok'" class="alert alert-success"> Image Uploaded Succesfuly!</div>
            <div *ngIf="selectedFile.status === 'fail'" class="alert alert-danger"> Image Upload Failed!</div>
          </div>-->
          {{user.description}}
          <br>
          <br>
          <iframe src="https://open.spotify.com/embed/user/spotify/playlist/37i9dQZF1DXaxEKcoCdWHD" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </ion-card-content>
  </ion-card>
  
</ion-content>
