.col-content{
    background-color: lightpink
}
.bg{
    // background: linear-gradient(to top, #e62222 0%, #fff8f8 100%);
      background-size: cover;
          //background-image: linear-gradient(to top, #e62222 0%, #fff8f8 100%);
      }
      #container{
              margin:17% auto;
              text-align:center;
              
      }
  
  
  .letra{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif , serif !important;
      size: 50px;
  }
  
  
  