.col-content{
    background-color: lightpink
}
.bg{
      background-size: cover;
        //background-image: linear-gradient(to top, #e62222 0%, #fff8f8 100%);
    }
    #container{
            margin:17% auto;
            text-align:center;
            background-color: transparent;
    }

    ion-content.background{
        --background: url('https://res.cloudinary.com/dg7ybkbb8/image/upload/v1557394230/red-black-gradient_xvaxtm.jpg') 0 0/100% 100% no-repeat;
    }
  
  .letra{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif , serif !important;
      size: 50px;
  }

  .optionText {
      margin-left: 50px;
      font-size: 15px;
  }
  
  
  